[v-cloak] > * { display:none }

/* Required height of parents of the Half Page Carousel for proper displaying carousel itself */
html,
body,
.view {
  height: 100%; }

/* Half Page Carousel itself*/
.carousel {
  height: 50%; }
  .carousel .carousel-inner {
    height: 100%; }
    .carousel .carousel-inner .carousel-item,
    .carousel .carousel-inner .active {
      height: 100%; }

/* Adjustment for mobile devices*/
@media (max-width: 776px) {
  .carousel {
    height: 100%; } }

/* Footer color for sake of consistency with Navbar */
.page-footer {
  background-color: #929FBA; }

html,
body,
header,
.carousel {
	height: 60vh;
}

@media (max-width: 740px) {
	html,
	body,
	header,
	.carousel {
		height: 100vh;
	}
}

@media (min-width: 800px) and (max-width: 850px) {
	html,
	body,
	header,
	.carousel {
		height: 100vh;
	}
}

.content-wrapper {
	margin-top: 66px;
}

.create-pet__form {
	/* background: red; */
	margin: 100px auto 0 auto;
  width: 500px;
}


.petlist-page.container {
	min-height: 550px;
}
.petlist-page tr, .petlist-page td {
	text-align: center;
}

.petlist-page button {
	margin: 0;
}


.prompt {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #fff;
	height: 100px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
	border-radius: 5px;
	padding: 10px;
}
/*
.prompt:before {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	content: '';
} */

.pet-details:after, .pet-comments form:after {
	content: "";
  display: table;
  clear: both;
}

.pet-info, .pet-comments {
	display: block;
	float: left;
padding: 15px;
width: 50%;
}

.pet-info {
    min-height: 250px;
}

.pet-comments {
	/* background: red; */
	/* margin-left: 25px; */
		/* width: calc(50% - 25px); */
	min-height: 250px;
}
.pet-comments-inner {
	padding: 15px;
	min-height: 185px;
	border-radius: 7px;
	background: #f1f1f1;
	box-shadow: 0px 0px 41px 0px rgba(0,0,0,0.1) inset;
	overflow: scroll;
}
.com-inpt, .com-btn {
	display: block;
	float: left;
/* padding: 15px; */
}

.com-inpt {
	width: calc(50% + 60px);
}

.com-btn {
	/* width: calc(50% - 30px); */
	width: calc(50% - 60px);
	margin: 0 auto;


}


.com-btn button {
	margin: 0 auto;
	padding: 9px;
	width: 100%;
}

.date-comments {
	margin-left: 10px;
  font-size: x-small;
}
.com-comments {
		margin-left: 10px;
}
